{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Products</h1>
        <p class="lead">Your products</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel pull-right">
            <a href="create" class="btn btn-primary">
                Create
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <td colspan="4">
                        Displaying {{ object_list|length }} products
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Manufacturer</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'product-details-view' product.id %}">
                            {{ product.name }}
                        </a>
                    </td>
                    <td>
                        {{ product.category.name }}
                    </td>
                    <td>
                        {{ product.manufacturer.name }}
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="{% url 'product-details-view' product.id %}" class="btn btn-default">
                                Show
                            </a>
                            <a href="{% url 'product-update-view' product.id %}" class="btn btn-default">
                                Edit
                            </a>
                            <a href="{% url 'product-delete-view' product.id %}" class="btn btn-danger">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        <tfoot>
            <tr>
                <td colspan="4">

                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                                </li>
                            {% endif %}
                                <li class="">
                                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                </li>
                            {% if page_obj.has_next %}
                                <li>
                                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
        </table>
    </div>
</div>


{% endblock %}