{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Import Products</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

    </div>


    <div class="row">


        <div class="panel panel-default">
            <div class="panel-heading">
                Import Products
            </div>
            <div class="panel-body">

                <form action="{% url 'product-import-view' %}" method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" name="myfile" class="form-control"/>

                    </div>

                    <input type="submit" value="Upload" class="btn btn-primary"/>

                    <a href="{% url 'product-list-view' %}" class="btn btn-default">
                        Cancel
                    </a>

                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}